.bar{
    padding: 15px 0 15px 0;
    background-color:#312b2b;
}
.or{
    text-align: center;
  
}
.order{
    text-decoration: none;
    font-size: 2rem;
    font-style:'Cedarville Cursive', cursive;
    color: hsl(0, 52%, 74%);

}
#title {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div.box1{
    width: 600px;
    margin-left: 100px;
    margin-top: 50px;
}
div.box2{
    padding-bottom: 0;
}
.iphone{
    height: 400px;
    margin-left: 100px;
}
.gradient{
    background: linear-gradient(300deg, hsl(69, 74%, 65%), hwb(32 25% 9%), hsl(0, 52%, 74%));
    animation:forwards 18s ease infinite;
}

.container1{
    margin: 0;
    padding: 100px 0 0 100px;
    display: flex;
}
.size{
    font-size: 3rem;
    color:black;
}
span{
    color: darkred;
    font-family: 'Cedarville Cursive', cursive;
}
.btn{
    margin-right: 10px;
    margin: 5px 5px 5px 5px;
}
.container2{
    display: flex;
    gap: 20px;
    margin: 100px 100px 100px 100px;
}
.card-t{ width: 400px;}
.card-t:hover{
    border: 2px solid lightgoldenrodyellow;
    border-radius: 4px;
    
}
.cardt{
    font-size: 2rem;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}
.cardt1{
    text-align: center;
    color:#312b2b
}
.back1{
    background-color: #e9ded8e4;
    padding: 100px 0 100px 0 ;
}
.pphoto{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
    left: 45%;
}
.review{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: gray;
}
#footer{
    display: flex;
    background-color: #312b2b;
    height: 200px;
    margin-bottom: 0; ;
}
.cp{
    height: 150px;
    width: 300px;
    color: aliceblue;
    margin-top: 50px;
    margin-left: 25px;
    text-align: center;
}
.sp{height: 150px;
    width: 300px;
    color: aliceblue;
    margin-top: 50px;
    margin-left: 25px;}
.section{
    height: 150px;
    width: 300px;
    color: aliceblue;
    margin-top: 50px;
    margin-left: 25px;
}  
@media (max-width:600px) {
div.box1{
        width: 400px;
        margin-left: 10px;
        margin-bottom: 20px; 
        padding: 0%;
}
div.box2{
    padding-bottom: 0;
}
.iphone{
    height: 300px;
    margin-left: 0;
}
.container1{
    margin-left: 0;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
}
.size{
    font-size: 2rem;
    color:black;
}
.container2{
    display: block;
    gap: 10px;
    margin: 30px 30px;

}
#footer{
    display:flex;
    background-color: #312b2b;
    height: 200px;
    margin-bottom: 10px; 
}
.cp{
    
    width: 300px;
    color: aliceblue;
    margin-top:0px;
    margin-left: 25px;
    text-align: center;
}
.sp{height: 150px;
    width: 300px;
    color: aliceblue;
    margin-top: 0px;
    margin-left: 25px;}
.section{
    height: 150px;
    width: 300px;
    color: aliceblue;
    margin-top: 20px;
    padding-right: 25px;
}  

}
